<%= stylesheet_link_tag 'application', media: 'all' %>


<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Payments app</title>
</head>
<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">Garden waste collection</a>
				</div>
				
			</nav>
			
			<div class="page-header">
				<h1>
					Pay online <br><small>This is a simple example of a payments app for making nice and easy payments for your garden waste collection</small>
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-info">
				Pay with your card for the year
			</h3> 
			

			
			<%= form_tag charges_path do %>
			  <article>
			    <% if flash[:error].present? %>
			      <div id="error_explanation">
			        <p><%= flash[:error] %></p>
			      </div>
			    <% end %>
			    
			  </article>

			  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
			          data-description="A month's subscription"
			          data-amount="3300"
			          data-locale="auto"></script>
			<% end %>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-info">
				Set up a recurring direct debit
			</h3> 
			<a href="https://dashboard.gocardless.com/api/paylinks/12PCTMG0CT">
			<button type="button" class="btn btn-primary">
				Direct debit
			</button>
			</a>
		</div>
	</div>
</div>

</body>
</html>